@font-face {
    font-family: "RubikLight";
    src: url("RubikLight/RubikLight.eot");
    src: url("RubikLight/RubikLight.eot?#iefix") format("embedded-opentype"), url("RubikLight/RubikLight.woff") format("woff"), url("RubikLight/RubikLight.woff2") format("woff"), url("RubikLight/RubikLight.ttf") format("truetype");
}

@font-face {
    font-family: "RubikRegular";
    src: url("RubikRegular/RubikRegular.eot");
    src: url("RubikRegular/RubikRegular.eot?#iefix") format("embedded-opentype"), url("RubikRegular/RubikRegular.woff") format("woff"), url("RubikRegular/RubikRegular.woff2") format("woff"), url("RubikRegular/RubikRegular.ttf") format("truetype");
}

@font-face {
    font-family: "RubikMedium";
    src: url("RubikMedium/RubikMedium.eot");
    src: url("RubikMedium/RubikMedium.eot?#iefix") format("embedded-opentype"), url("RubikMedium/RubikMedium.woff") format("woff"), url("RubikMedium/RubikMedium.woff2") format("woff"), url("RubikMedium/RubikMedium.ttf") format("truetype");
}

@font-face {
    font-family: "RubikBold";
    src: url("RubikBold/RubikBold.eot");
    src: url("RubikBold/RubikBold.eot?#iefix") format("embedded-opentype"), url("RubikBold/RubikBold.woff") format("woff"), url("RubikBold/RubikBold.woff2") format("woff"), url("RubikBold/RubikBold.ttf") format("truetype");
}

@font-face {
    font-family: "RubikBlack";
    src: url("RubikBlack/RubikBlack.eot");
    src: url("RubikBlack/RubikBlack.eot?#iefix") format("embedded-opentype"), url("RubikBlack/RubikBlack.woff") format("woff"), url("RubikBlack/RubikBlack.woff2") format("woff"), url("RubikBlack/RubikBlack.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik-ExtraBold";
    src: url("Rubik-ExtraBold/Rubik-ExtraBold.eot");
    src: url("Rubik-ExtraBold/Rubik-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Rubik-ExtraBold/Rubik-ExtraBold.woff") format("woff"), url("Rubik-ExtraBold/Rubik-ExtraBold.woff2") format("woff"), url("Rubik-ExtraBold/Rubik-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "RowdiesBold";
    src: url("RowdiesBold/RowdiesBold.eot");
    src: url("RowdiesBold/RowdiesBold.eot?#iefix") format("embedded-opentype"), url("RowdiesBold/RowdiesBold.woff") format("woff"), url("RowdiesBold/RowdiesBold.woff2") format("woff"), url("RowdiesBold/RowdiesBold.ttf") format("truetype"), url("RowdiesBold/RowdiesBold.svg#svgRowdiesBold") format("svg");
}

/* Start Armenian fonts */

@font-face {
    font-family: "MardotoRegular";
    src: url("MardotoRegular/MardotoRegular.eot");
    src: url("MardotoRegular/MardotoRegular.eot?#iefix") format("embedded-opentype"), url("MardotoRegular/MardotoRegular.woff") format("woff"), url("MardotoRegular/MardotoRegular.ttf") format("truetype"), url("MardotoRegular/MardotoRegular.svg#svgMardoto") format("svg");
}

@font-face {
    font-family: "MardotoBlack";
    src: url("MardotoBlack/MardotoBlack.eot");
    src: url("MardotoBlack/MardotoBlack.eot?#iefix") format("embedded-opentype"), url("MardotoBlack/MardotoBlack.woff") format("woff"), url("MardotoBlack/MardotoBlack.ttf") format("truetype"), url("MardotoBlack/MardotoBlack.svg#svgMardoto") format("svg");
}

@font-face {
    font-family: "MardotoBold";
    src: url("MardotoBold/MardotoBold.eot");
    src: url("MardotoBold/MardotoBold.eot?#iefix") format("embedded-opentype"), url("MardotoBold/MardotoBold.woff") format("woff"), url("MardotoBold/MardotoBold.ttf") format("truetype"), url("MardotoBold/MardotoBold.svg#svgMardoto") format("svg");
}

@font-face {
    font-family: "MardotoLight";
    src: url("MardotoLight/MardotoLight.eot");
    src: url("MardotoLight/MardotoLight.eot?#iefix") format("embedded-opentype"), url("MardotoLight/MardotoLight.woff") format("woff"), url("MardotoLight/MardotoLight.ttf") format("truetype"), url("MardotoLight/MardotoLight.svg#svgMardoto") format("svg");
}

@font-face {
    font-family: "MardotoMedium";
    src: url("MardotoMedium/MardotoMedium.eot");
    src: url("MardotoMedium/MardotoMedium.eot?#iefix") format("embedded-opentype"), url("MardotoMedium/MardotoMedium.woff") format("woff"), url("MardotoMedium/MardotoMedium.ttf") format("truetype"), url("MardotoMedium/MardotoMedium.svg#svgMardoto") format("svg");
}

@font-face {
    font-family: "MardotoThin";
    src: url("MardotoThin/MardotoThin.eot");
    src: url("MardotoThin/MardotoThin.eot?#iefix") format("embedded-opentype"), url("MardotoThin/MardotoThin.woff") format("woff"), url("MardotoThin/MardotoThin.ttf") format("truetype"), url("MardotoThin/MardotoThin.svg#svgMardoto") format("svg");
}

/* End Armenian fonts */

@font-face {
    font-family: "RubikOneRegular";
    src: url("RubikOneRegular/RubikOneRegular.eot");
    src: url("RubikOneRegular/RubikOneRegular.eot?#iefix") format("embedded-opentype"), url("RubikOneRegular/RubikOneRegular.woff") format("woff"), url("RubikOneRegular/RubikOneRegular.ttf") format("truetype"), url("RubikOneRegular/RubikOneRegular.svg#svgRubikOne") format("svg");
}

@font-face {
    font-family: "RobotoBold";
    src: url("RobotoBold/RobotoBold.eot");
    src: url("RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("RobotoBold/RobotoBold.woff") format("woff"), url("RobotoBold/RobotoBold.ttf") format("truetype"), url("RobotoBold/RobotoBold.svg#svgRobotoBold") format("svg");
}

@font-face {
    font-family: "Inter-Medium";
    src: url("Inter-Medium/Inter-Medium.eot");
    src: url("Inter-Medium/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("Inter-Medium/Inter-Medium.woff") format("woff"), url("Inter-Medium/Inter-Medium.ttf") format("truetype"), url("Inter-Medium/Inter-Medium.svg#svgInterMedium") format("svg");
}

@font-face {
    font-family: "IRANSansXVRegular";
    src: url("IRANSansXVRegular/IRANSansXVRegular.eot");
    src: url("IRANSansXVRegular/IRANSansXVRegular.eot?#iefix") format("embedded-opentype"), url("IRANSansXVRegular/IRANSansXVRegular.woff2") format("woff2"), url("IRANSansXVRegular/IRANSansXVRegular.woff") format("woff"), url("IRANSansXVRegular/IRANSansXVRegular.ttf") format("truetype"), url("IRANSansXVRegular/IRANSansXVRegular.svg#IranSans") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IranSans";
    src: url("IRANSansXBold/IRANSansX-Bold.eot");
    src: url("IRANSansXBold/IRANSansX-Bold.eot?#iefix") format("embedded-opentype"), url("IRANSansXBold/IRANSansX-Bold.woff2") format("woff2"), url("IRANSansXBold/IRANSansX-Bold.woff") format("woff"), url("IRANSansXBold/IRANSansX-Bold.ttf") format("truetype"), url("IRANSansXBold/IRANSansX-Bold.svg#IranSansBold") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "QojarunRegular";
    src: url("QojarunRegular/QojarunRegular.eot");
    src: url("QojarunRegular/QojarunRegular.eot?#iefix") format("embedded-opentype"), url("QojarunRegular/QojarunRegular.woff2") format("woff2"), url("QojarunRegular/QojarunRegular.woff") format("woff"), url("QojarunRegular/QojarunRegular.ttf") format("truetype"), url("QojarunRegular/QojarunRegular.svg#QojarunRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Voltaire";
    src: url("Voltaire/Voltaire.eot");
    src: url("Voltaire/Voltaire.eot?#iefix") format("embedded-opentype"), url("Voltaire/Voltaire.woff") format("woff"), url("Voltaire/Voltaire.ttf") format("truetype"), url("Voltaire/Voltaire.svg#svgVoltaire") format("svg");
}

@font-face {
    font-family: "BigShouldersDisplay-ExtraBold";
    src: url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.eot");
    src: url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.eot?#iefix") format("embedded-opentype"), url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.woff") format("woff"), url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.woff2") format("woff"), url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.ttf") format("truetype"), url("BigShouldersDisplay-ExtraBold/BigShouldersDisplay-ExtraBold.svg#svgBigShouldersDisplay") format("svg");
}

@font-face {
    font-family: "BigShouldersInlineDisplay";
    src: url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.eot");
    src: url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.woff") format("woff"), url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.woff2") format("woff"), url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.ttf") format("truetype"), url("./BigShouldersInlineDisplay/BigShouldersInlineDisplay-Regular.svg#svgBigShouldersDisplay") format("svg");
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("BebasNeue-Regular/BebasNeue-Regular.eot");
    src: url("BebasNeue-Regular/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("BebasNeue-Regular/BebasNeue-Regular.woff") format("woff"), url("BebasNeue-Regular/BebasNeue-Regular.woff2") format("woff"), url("BebasNeue-Regular/BebasNeue-Regular.ttf") format("truetype"), url("BebasNeue-Regular/BebasNeue-Regular.svg#svgBebasNeue") format("svg");
}

@font-face {
    font-family: "FuturaMedium";
    src: url("FuturaMedium/FuturaMedium.eot");
    src: url("FuturaMedium/FuturaMedium.eot?#iefix") format("embedded-opentype"), url("FuturaMedium/FuturaMedium.woff") format("woff"), url("FuturaMedium/FuturaMedium.ttf") format("truetype"), url("FuturaMedium/FuturaMedium.svg#svgFuturaMedium") format("svg");
}

@font-face {
    font-family: "FuturaBold";
    src: url("FuturaBold/FuturaBold.eot");
    src: url("FuturaBold/FuturaBold.eot?#iefix") format("embedded-opentype"), url("FuturaBold/FuturaBold.woff") format("woff"), url("FuturaBold/FuturaBold.ttf") format("truetype"), url("FuturaBold/FuturaBold.svg#svgFuturaBold") format("svg");
}

@font-face {
    font-family: "DigitalDismay";
    src: url("digital_dismay/digital_dismay.eot");
    src: url("digital_dismay/digital_dismay.eot?#iefix") format("embedded-opentype"), url("digital_dismay/digital_dismay.woff") format("woff"), url("digital_dismay/digital_dismay.woff2") format("woff"), url("digital_dismay/digital_dismay.ttf") format("truetype"), url("digital_dismay/digital_dismay.svg#svgDigitalDismay") format("svg");
}

@font-face {
    font-family: "JostRegular";
    src: url("JostRegular/JostRegular.eot");
    src: url("JostRegular/JostRegular.eot?#iefix") format("embedded-opentype"), url("JostRegular/JostRegular.woff2") format("woff2"), url("JostRegular/JostRegular.woff") format("woff"), url("JostRegular/JostRegular.ttf") format("truetype"), url("JostRegular/JostRegular.svg#Jost-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JostLight";
    src: url("JostLight/Jost-Light.eot");
    src: url("JostLight/Jost-Light.eot?#iefix") format("embedded-opentype"), url("JostLight/Jost-Light.woff") format("woff"), url("JostLight/Jost-Light.woff2") format("woff"), url("JostLight/Jost-Light.ttf") format("truetype"), url("JostLight/Jost-Light.svg#svgJostLight") format("svg");
}

@font-face {
    font-family: "JostMedium";
    src: url("JostMedium/Jost-Medium.eot");
    src: url("JostMedium/Jost-Medium.eot?#iefix") format("embedded-opentype"), url("JostMedium/Jost-Medium.woff") format("woff"), url("JostMedium/Jost-Medium.woff2") format("woff"), url("JostMedium/Jost-Medium.ttf") format("truetype"), url("JostMedium/Jost-Medium.svg#svgJostMedium") format("svg");
}

@font-face {
    font-family: "JostBold";
    src: url("JostBold/Jost-Bold.eot");
    src: url("JostBold/Jost-Bold.eot?#iefix") format("embedded-opentype"), url("JostBold/Jost-Bold.woff") format("woff"), url("JostBold/Jost-Bold.woff2") format("woff"), url("JostBold/Jost-Bold.ttf") format("truetype"), url("JostBold/Jost-Bold.svg#svgJostBold") format("svg");
}

@font-face {
    font-family: "JosefinSansRegular";
    src: url("JosefinSansRegular/JosefinSansRegular.eot");
    src: url("JosefinSansRegular/JosefinSansRegular.eot?#iefix") format("embedded-opentype"), url("JosefinSansRegular/JosefinSansRegular.woff") format("woff"), url("JosefinSansRegular/JosefinSansRegular.woff2") format("woff"), url("JosefinSansRegular/JosefinSansRegular.ttf") format("truetype"), url("JosefinSansRegular/JosefinSansRegular.svg#JosefinSansRegular") format("svg");
}

@font-face {
    font-family: "JosefinSansLight";
    src: url("JosefinSansLight/JosefinSansLight.eot");
    src: url("JosefinSansLight/JosefinSansLight.eot?#iefix") format("embedded-opentype"), url("JosefinSansLight/JosefinSansLight.woff") format("woff"), url("JosefinSansLight/JosefinSansLight.woff2") format("woff"), url("JosefinSansLight/JosefinSansLight.ttf") format("truetype"), url("JosefinSansLight/JosefinSansLight.svg#JosefinSansLight") format("svg");
}

@font-face {
    font-family: "JosefinSansMedium";
    src: url("JosefinSansMedium/JosefinSansMedium.eot");
    src: url("JosefinSansMedium/JosefinSansMedium.eot?#iefix") format("embedded-opentype"), url("JosefinSansMedium/JosefinSansMedium.woff") format("woff"), url("JosefinSansMedium/JosefinSansMedium.woff2") format("woff"), url("JosefinSansMedium/JosefinSansMedium.ttf") format("truetype"), url("JosefinSansMedium/JosefinSansMedium.svg#JosefinSansMedium") format("svg");
}

@font-face {
    font-family: "JosefinSansBold";
    src: url("JosefinSansBold/JosefinSansBold.eot");
    src: url("JosefinSansBold/JosefinSansBold.eot?#iefix") format("embedded-opentype"), url("JosefinSansBold/JosefinSansBold.woff") format("woff"), url("JosefinSansBold/JosefinSansBold.woff2") format("woff"), url("JosefinSansBold/JosefinSansBold.ttf") format("truetype"), url("JosefinSansBold/JosefinSansBold.svg#JosefinSansBold") format("svg");
}

@font-face {
    font-family: "FreckleFaceRegular";
    src: url("FreckleFaceRegular/FreckleFace-Regular.eot");
    src: url("FreckleFaceRegular/FreckleFace-Regular.eot?#iefix") format("embedded-opentype"), url("FreckleFaceRegular/FreckleFace-Regular.woff") format("woff"), url("FreckleFaceRegular/FreckleFace-Regular.woff2") format("woff"), url("FreckleFaceRegular/FreckleFace-Regular.ttf") format("truetype"), url("FreckleFaceRegular/FreckleFace-Regular.svg#svgFreckleFaceRegular") format("svg");
}

@font-face {
    font-family: "SourceCodeProMedium";
    src: url("SourceCodeProMedium/SourceCodeProMedium.eot");
    src: url("SourceCodeProMedium/SourceCodeProMedium.eot?#iefix") format("embedded-opentype"), url("SourceCodeProMedium/SourceCodeProMedium.woff") format("woff"), url("SourceCodeProMedium/SourceCodeProMedium.woff2") format("woff"), url("SourceCodeProMedium/SourceCodeProMedium.ttf") format("truetype"), url("SourceCodeProMedium/SourceCodeProMedium.svg#svgSourceCodeProMedium") format("svg");
}

@font-face {
    font-family: "SairaCondensedMedium";
    src: url("SairaCondensedMedium/SairaCondensedMedium.eot");
    src: url("SairaCondensedMedium/SairaCondensedMedium.eot?#iefix") format("embedded-opentype"), url("SairaCondensedMedium/SairaCondensedMedium.woff") format("woff"), url("SairaCondensedMedium/SairaCondensedMedium.woff2") format("woff"), url("SairaCondensedMedium/SairaCondensedMedium.ttf") format("truetype"), url("SairaCondensedMedium/SairaCondensedMedium.svg#svgSairaCondensedMedium") format("svg");
}

@font-face {
    font-family: "SairaCondensedBold";
    src: url("SairaCondensedBold/SairaCondensedBold.eot");
    src: url("SairaCondensedBold/SairaCondensedBold.eot?#iefix") format("embedded-opentype"), url("SairaCondensedBold/SairaCondensedBold.woff") format("woff"), url("SairaCondensedBold/SairaCondensedBold.woff2") format("woff"), url("SairaCondensedBold/SairaCondensedBold.ttf") format("truetype"), url("SairaCondensedBold/SairaCondensedBold.svg#svgSairaCondensedBold") format("svg");
}

@font-face {
    font-family: "OswaldMedium";
    src: url("OswaldMedium/OswaldMedium.eot");
    src: url("OswaldMedium/OswaldMedium.eot?#iefix") format("embedded-opentype"), url("OswaldMedium/OswaldMedium.woff") format("woff"), url("OswaldMedium/OswaldMedium.woff2") format("woff"), url("OswaldMedium/OswaldMedium.ttf") format("truetype"), url("OswaldMedium/OswaldMedium.svg#svgOswaldMedium") format("svg");
}

@font-face {
    font-family: "SmoochSansBlack";
    src: url("SmoochSansBlack/SmoochSansBlack.eot");
    src: url("SmoochSansBlack/SmoochSansBlack.eot?#iefix") format("embedded-opentype"), url("SmoochSansBlack/SmoochSansBlack.woff") format("woff"), url("SmoochSansBlack/SmoochSansBlack.woff2") format("woff"), url("SmoochSansBlack/SmoochSansBlack.ttf") format("truetype"), url("SmoochSansBlack/SmoochSansBlack.svg#svgSmoochSansBlack") format("svg");
}

@font-face {
    font-family: "SmoochSansBlack";
    src: url("SmoochSansBlack/SmoochSansBlack.eot");
    src: url("SmoochSansBlack/SmoochSansBlack.eot?#iefix") format("embedded-opentype"), url("SmoochSansBlack/SmoochSansBlack.woff") format("woff"), url("SmoochSansBlack/SmoochSansBlack.woff2") format("woff"), url("SmoochSansBlack/SmoochSansBlack.ttf") format("truetype"), url("SmoochSansBlack/SmoochSansBlack.svg#svgSmoochSansBlack") format("svg");
}

@font-face {
    font-family: "RobotoBlack";
    src: url("RobotoBlack/RobotoBlack.eot");
    src: url("RobotoBlack/RobotoBlack.eot?#iefix") format("embedded-opentype"), url("RobotoBlack/RobotoBlack.woff") format("woff"), url("RobotoBlack/RobotoBlack.woff2") format("woff"), url("RobotoBlack/RobotoBlack.ttf") format("truetype"), url("RobotoBlack/RobotoBlack.svg#svgRobotoBlack") format("svg");
}

@font-face {
    font-family: "RobotoRegular";
    src: url("RobotoRegular/RobotoRegular.eot");
    src: url("RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("RobotoRegular/RobotoRegular.woff") format("woff"), url("RobotoRegular/RobotoRegular.ttf") format("truetype"), url("RobotoRegular/RobotoRegular.svg#svgRobotoBlack") format("svg");
}

@font-face {
    font-family: "SmoochSansMedium";
    src: url("SmoochSansMedium/SmoochSansMedium.eot");
    src: url("SmoochSansMedium/SmoochSansMedium.eot?#iefix") format("embedded-opentype"), url("SmoochSansMedium/SmoochSansMedium.woff") format("woff"), url("SmoochSansMedium/SmoochSansMedium.woff2") format("woff"), url("SmoochSansMedium/SmoochSansMedium.ttf") format("truetype"), url("SmoochSansMedium/SmoochSansMedium.svg#svgSmoochSansMedium") format("svg");
}

@font-face {
    font-family: "SmoochSansExtraBold";
    src: url("SmoochSansExtraBold/SmoochSansExtraBold.eot");
    src: url("SmoochSansExtraBold/SmoochSansExtraBold.eot?#iefix") format("embedded-opentype"), url("SmoochSansExtraBold/SmoochSansExtraBold.woff") format("woff"), url("SmoochSansExtraBold/SmoochSansExtraBold.woff2") format("woff"), url("SmoochSansExtraBold/SmoochSansExtraBold.ttf") format("truetype"), url("SmoochSansExtraBold/SmoochSansExtraBold.svg#svgSmoochSansExtraBold") format("svg");
}

@font-face {
    font-family: "SmoochSansRegular";
    src: url("SmoochSansRegular/SmoochSansRegular.eot");
    src: url("SmoochSansRegular/SmoochSansRegular.eot?#iefix") format("embedded-opentype"), url("SmoochSansRegular/SmoochSansRegular.woff") format("woff"), url("SmoochSansRegular/SmoochSansRegular.woff2") format("woff"), url("SmoochSansRegular/SmoochSansRegular.ttf") format("truetype"), url("SmoochSansRegular/SmoochSansRegular.svg#svgSmoochSansRegular") format("svg");
}

@font-face {
    font-family: "SairaBold";
    src: url("SairaBold/SairaBold.eot");
    src: url("SairaBold/SairaBold.eot?#iefix") format("embedded-opentype"), url("SairaBold/SairaBold.woff") format("woff"), url("SairaBold/SairaBold.woff2") format("woff"), url("SairaBold/SairaBold.ttf") format("truetype"), url("SairaBold/SairaBold.svg#SairaBold") format("svg");
}

@font-face {
    font-family: "GilroySemiBold";
    src: url("GilroySemiBold/GilroySemiBold.eot");
    src: url("GilroySemiBold/GilroySemiBold.eot?#iefix") format("embedded-opentype"), url("GilroySemiBold/GilroySemiBold.woff2") format("woff2"), url("GilroySemiBold/GilroySemiBold.woff") format("woff"), url("GilroySemiBold/GilroySemiBold.ttf") format("truetype"), url("GilroySemiBold/GilroySemiBold.svg#Gilroy-SemiBold") format("svg");
}

@font-face {
    font-family: "GilroyMedium";
    src: url("GilroyMedium/GilroyMedium.eot");
    src: url("GilroyMedium/GilroyMedium.eot?#iefix") format("embedded-opentype"), url("GilroyMedium/GilroyMedium.woff2") format("woff2"), url("GilroyMedium/GilroyMedium.woff") format("woff"), url("GilroyMedium/GilroyMedium.ttf") format("truetype"), url("GilroyMedium/GilroyMedium.svg#Gilroy-Medium") format("svg");
}

@font-face {
    font-family: "GoldmanBold";
    src: url("GoldmanBold/Goldman-Bold.eot");
    src: url("GoldmanBold/Goldman-Bold.eot?#iefix") format("embedded-opentype"), url("GoldmanBold/Goldman-Bold.woff2") format("woff2"), url("GoldmanBold/Goldman-Bold.woff") format("woff"), url("GoldmanBold/Goldman-Bold.ttf") format("truetype"), url("GoldmanBold/Goldman-Bold.svg#Goldman-Bold") format("svg");
}

@font-face {
    font-family: "GoldmanRegular";
    src: url("GoldmanRegular/Goldman-Regular.eot");
    src: url("GoldmanRegular/Goldman-Regular.eot?#iefix") format("embedded-opentype"), url("GoldmanRegular/Goldman-Regular.woff2") format("woff2"), url("GoldmanRegular/Goldman-Regular.woff") format("woff"), url("GoldmanRegular/Goldman-Regular.ttf") format("truetype"), url("GoldmanRegular/Goldman-Regular.svg#Goldman-Regular") format("svg");
}

@font-face {
    font-family: "GilroyBold";
    src: url("GilroyBold/GilroyBold.eot");
    src: url("GilroyBold/GilroyBold.eot?#iefix") format("embedded-opentype"), url("GilroyBold/GilroyBold.woff2") format("woff2"), url("GilroyBold/GilroyBold.woff") format("woff"), url("GilroyBold/GilroyBold.ttf") format("truetype"), url("GilroyBold/GilroyBold.svg#Gilroy-Bold") format("svg");
}

@font-face {
    font-family: "RammettoOneRegular";
    src: url("RammettoOneRegular/RammettoOneRegular.eot");
    src: url("RammettoOneRegular/RammettoOneRegular.eot?#iefix") format("embedded-opentype"), url("RammettoOneRegular/RammettoOneRegular.woff2") format("woff2"), url("RammettoOneRegular/RammettoOneRegular.woff") format("woff"), url("RammettoOneRegular/RammettoOneRegular.ttf") format("truetype"), url("RammettoOneRegular/RammettoOneRegular.svg#RammettoOneRegular") format("svg");
}

@font-face {
    font-family: "WorkSansBlack";
    src: url("WorkSansBlack/WorkSansBlack.eot");
    src: url("WorkSansBlack/WorkSansBlack.eot?#iefix") format("embedded-opentype"), url("WorkSansBlack/WorkSansBlack.woff2") format("woff2"), url("WorkSansBlack/WorkSansBlack.woff") format("woff"), url("WorkSansBlack/WorkSansBlack.ttf") format("truetype"), url("WorkSansBlack/WorkSansBlack.svg#WorkSansBlack") format("svg");
}

@font-face {
    font-family: "LilitaOne";
    src: url("LilitaOne/LilitaOne.eot");
    src: url("LilitaOne/LilitaOne.eot?#iefix") format("embedded-opentype"), url("LilitaOne/LilitaOne.woff2") format("woff2"), url("LilitaOne/LilitaOne.woff") format("woff"), url("LilitaOne/LilitaOne.ttf") format("truetype"), url("LilitaOne/LilitaOne.svg#LilitaOne") format("svg");
}

@font-face {
    font-family: "SeoulNamsanCebRegular";
    src: url("SeoulNamsanCebRegular/SeoulNamsanCEB.eot");
    src: url("SeoulNamsanCebRegular/SeoulNamsanCEB.eot?#iefix") format("embedded-opentype"), url("SeoulNamsanCebRegular/SeoulNamsanCEB.woff2") format("woff2"), url("SeoulNamsanCebRegular/SeoulNamsanCEB.woff") format("woff"), url("SeoulNamsanCebRegular/SeoulNamsanCEB.ttf") format("truetype"), url("SeoulNamsanCebRegular/SeoulNamsanCEB.svg#SeoulNamsanCebRegular") format("svg");
}

@font-face {
    font-family: "GrandstanderBold";
    src: url("GrandstanderBold/GrandstanderBold.eot");
    src: url("GrandstanderBold/GrandstanderBold.eot?#iefix") format("embedded-opentype"), url("GrandstanderBold/GrandstanderBold.woff2") format("woff2"), url("GrandstanderBold/GrandstanderBold.woff") format("woff"), url("GrandstanderBold/GrandstanderBold.ttf") format("truetype"), url("GrandstanderBold/GrandstanderBold.svg#GrandstanderBold") format("svg");
}

@font-face {
    font-family: "GrandstanderBlack";
    src: url("GrandstanderBlack/GrandstanderBlack.eot");
    src: url("GrandstanderBlack/GrandstanderBlack.eot?#iefix") format("embedded-opentype"), url("GrandstanderBlack/GrandstanderBlack.woff2") format("woff2"), url("GrandstanderBlack/GrandstanderBlack.woff") format("woff"), url("GrandstanderBlack/GrandstanderBlack.ttf") format("truetype"), url("GrandstanderBlack/GrandstanderBlack.svg#GrandstanderBlack") format("svg");
}

@font-face {
    font-family: "MeriendaRegular";
    src: url("MeriendaRegular/MeriendaRegular.eot");
    src: url("MeriendaRegular/MeriendaRegular.eot?#iefix") format("embedded-opentype"), url("MeriendaRegular/MeriendaRegular.woff2") format("woff2"), url("MeriendaRegular/MeriendaRegular.woff") format("woff"), url("MeriendaRegular/MeriendaRegular.ttf") format("truetype"), url("MeriendaRegular/MeriendaRegular.svg#MeriendaRegular") format("svg");
}

/* Fonts */